[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
selenium = "*"
webdriver-manager = "*"
sentry-sdk = "*"
playsound = "*"
pydub = "*"
ffmpeg-python = "*"

[dev-packages]

[requires]
python_version = "3.10"
